.header {
    margin: 0;
    display: flex;
    height: 60px;
    align-items: center;
    position:sticky;
    background-color: #eecfc5;
    top:0;
    z-index:100;
   
}
.header__logo {
    height: 40px;
    width: 300px;
    margin-left: -16px;
    object-fit: cover;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

}

.header__searchInput {
    padding: 9px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #ca96a9
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    color: #175c4c
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: bold;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: #175c4c;
    padding: 5px;
    height: 22px;
    align-items: center;
    margin-right: 10px;

}

.header__optionBasketIcon {
    margin-left: 10px;
    margin-right: 10px;
}