.home {
    justify-content: center;
}

.home__containerBackdrop {
    width: 100%;
    height: 500px;
    object-fit: none;
    object-position: 0% 0%;
    margin-bottom: -200px;
    z-index: -1;
    mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
    pointer-events: none;
}
.home__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}